*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-size: 25px;
    background-color: #42C2FF;
    min-height: 100vh;
    min-height: 100vh
}
.header1{
    display: flex;
    height: 80px;
    background-color: #488FB1;
    justify-content: space-between;
    color: #085E7D;
    font-size: 0.5em;
    box-shadow: 0px 5px 7px #333;
    color: aliceblue
}
.logo1{
    height: 60px;
    margin: auto 10px
}
.paginas, .caja-header{
    display: inline-block;
    margin: auto 15px;
    text-align: center;
}
.target-1{
    height: 480px;
    width: 350px;
    background-color: #E3BEC6;
    margin: 50px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.img-1{
    width: 350px;
    height: 130px;
}
.foto-1{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    position: absolute;
    right: 115px;
    top: 70px;
}
.text1, .info1{
    display: inline-block;
}
.caja-2{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 200px;
}
.edad{
    color: #6A8C69
}
.text1, .repre{
    color: #024554
}
.repre{
    font-size: 0.8em
}
.caja-2copy{
    top: 320px;
    margin-top: 165px;
}
.info1{
    font-size: 15px;
    margin: 0 15px;
    margin-bottom: 15px
}
.logo2 {
    width: 40px;
    height: 40px;
    margin: 0 15px;
}
.footer2{
    border-top: 1px solid #024554;
    height: 80px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    width: 350px;
    margin-top: 15px

}
.logos-footer{
    height: 30px;
    width: 30px;
    margin: 15px 40px;
}
.footer-end{
    height: 80px;
    width: 100%;
    background-color: #488FB1;
    color: #085E7D;
    font-size: 0.5em;
    color: aliceblue;
    text-align: center;
    position: relative;
    padding-top: 5px
}
foot-a{
    display: inline-block;
}
h1{
    color: #024554;
    text-align: center;
    margin: 10px 0;
}
.form-1{
    height: 500px;
    width: 350px;
    background-color: white;
    margin: 20px auto;
    padding: 20px;

}
.cajaform-1img{
    height: 120px;
    width: 320px;
    margin: 0 auto;
    border-bottom: 2px solid #42C2FF;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 35px
}
.img-form1{
    width: 110px;
    height: 110px;
}
.input-form1{
    width: 310px ;
    height: 35px;
    border: 2px solid #42C2FF;
    border-radius: 15px;
    padding-left:10px;
    margin-left: 12px;
    margin-top: 5px
}
.citys{
    margin-bottom: 10px
}
.button-form1{
    margin-top: 20px;
    background-color: #42C2FF
}
.tex-form1{
    font-size: 15px;
    margin-top: 5px
}
.section-var{
    width: 90%;
    height: 800px;
    margin: 20px 5px;
    background-color: white;
    margin-right:auto;
    margin-left: auto;
    padding: 15px 15px;
    text-align: center;
    position: relative;
}
.p1-var{
    color: #187d94;
    font-size: 15px;
    padding: 35px 2px;
}
.box-1,
.box-2,
.box-3,
.box-0{
    border-top: 6px solid rgb(212, 8, 8);
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #488FB1;
    font-size: 12px;
    margin: 15px;
    padding: 20px;
    text-align: initial;
    position: absolute
}
.box-1{
    border-top-color: rgb(89, 155, 241);
    top: 320px;
    left: 5%
}
.box-2{
    border-top-color: rgb(241, 239, 121);
    top: 320px;
    right: 5%
}
.box-3{
    border-top-color: rgb(191, 123, 212);
    top:25%;
    left: 36%;
}
.box-0{
    left: 36%;
    top: 55%
}
.h2-var{
    margin-bottom: 20px
}
.p-var{
    margin-bottom: 45px;
    color:  #187d94;
}
.img-var{
    width: 50px;
    height: 50px;
    margin-left: 180px
}
.h1-var{
    font-weight: 200
}
.p2-var{
    font-weight: 600
}
.article-index{
    width: 90%;
    background-color: #333;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0
}
.box1-index{
    text-align: initial;
    width: 200px;
    height: auto;
    display: inline-block;
    padding :50px;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.75);
    margin: 30px 1px;
    position: relative;
}
.cont1-index{
    background-color:hsl(31, 77%, 52%);
}
.cont2-index{
    background-color:hsl(184, 100%, 22%)
}
.cont3-index{
    background-color:  hsl(179, 100%, 13%)
}

.h2-index,
.img-index,
.p-index{
    margin-bottom: 40px;
}
.boton-index{
    border: none;
    background-color: white; 
    padding: 3px 30px;
    border-radius: 20px;
    position: absolute;
    top: 430px
}
.h2-index{
    font-family: "Big Shoulders Display", cursive;
    font-size: 50px
}
.p-index{
    margin-bottom: 100px;
}
.boton3-index{
    color: hsl(31, 77%, 52%)
}
.boton2-index{
    color: hsl(184, 100%, 22%)
}
.boton1-index{
    color: hsl(179, 100%, 13%)
}