*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-size: 25px;
    background-color: #42C2FF;
    min-height: 100vh
}
.header1{
    display: flex;
    height: 80px;
    background-color: #488FB1;
    justify-content: space-between;
    color: #085E7D;
    font-size: 0.5em;
    color: aliceblue
}
.logo1{
    height: 60px;
    margin: auto 10px
}
.paginas, .caja-header{
    display: inline-block;
    margin: auto 15px;
    text-align: center;
}
.target-1{
    height: 480px;
    width: 350px;
    background-color: #E3BEC6;
    margin: 50px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.img-1{
    width: 350px;
    height: 130px;
}
.foto-1{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    position: absolute;
    right: 115px;
    top: 70px;
}
.text1, .info1{
    display: inline-block;
}
.caja-2{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 200px;
}
.edad{
    color: #6A8C69
}
.text1, .repre{
    color: #024554
}
.repre{
    font-size: 0.8em
}
.caja-2copy{
    top: 320px;
    margin-top: 165px;
}
.info1{
    font-size: 15px;
    margin: 0 15px;
    margin-bottom: 15px
}
.logo2 {
    width: 40px;
    height: 40px;
    margin: 0 15px;
}
.footer2{
    border-top: 1px solid #024554;
    height: 80px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    width: 350px;
    margin-top: 15px

}
.logos-footer{
    height: 30px;
    width: 30px;
    margin: 15px 40px;
}
.footer-end{
    height: 80px;
    width: 100%;
    background-color: #488FB1;
    color: #085E7D;
    font-size: 0.5em;
    color: aliceblue;
    text-align: center;
    position: relative;
}
.info-footer{
    padding: 10px 0;
}
foot-a{
    display: inline-block;
}
h1{
    color: #024554;
    text-align: center;
    margin: 10px 0;
}